- include_stylesheet 'admin/people'
%h1= @person.full_name
- form_for ['admin',@person], :method => :put do |f|
  .form-area
    - @person_form = f
    - render_region :person_info do |person_info|
      .recordPart
        = f.label :first_name
        = f.text_field :first_name
        = f.error_message_on :first_name
      .recordPart
        = f.label :middle_name
        = f.text_field :middle_name
        = f.error_message_on :middle_name
      .recordPart
        = f.label :last_name
        = f.text_field :last_name
        = f.error_message_on :last_name
      .recordPart
        = f.label :gender
        = f.select :gender, [['male','male'],['female','female']], :include_blank => true
  %p.buttons
    - render_region :buttons do |buttons|
      = save_model_button(@person)
      = save_model_and_continue_editing_button(@person)
      or
      = link_to 'Cancel', admin_people_path